<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: rgb(221, 205, 205);
      overflow-x: hidden;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .cards {
      height: 120px;
      width: 120px;
      display: inline-block;
      margin: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s
    }

    .cards:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    .cards img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    #game-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
    }

    .games {
      height: 200px;
      width: 300px;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: beige;

    }

    span {
      font-weight: bold;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .games img {
      height: 170px;
      width: 100%;
      border-radius: 10px;

    }

    a {
      text-decoration: none;
      color: black;
    }

    .games:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    #footer-container {
      background-color: black;
      margin-top: 300px;
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }

    .footer-div {
      background-color: black;
      width: 220px;
      height: 20vh;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    span {
      font-size: 15px;
    }

    #input {
      border-radius: 5px;
      border: 2px solid white;
    }
  </style>
</head>

<body>
  <%- include('navbar') %>
    <div class="container d-flex flex-wrap" id="main">
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-3">
        <a href="game/ticTacToe">
          <div class="games">
            <img src="/images/ticthumb.png">
            <span>Tic-Tac-Toe</span>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-3">
        <a href="game/titan">
          <div class="games">
            <img src="/images/titanthumb.png">
            <span>Whack-A-Titan</span>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-3">
        <a href="game/rockPaperScissors">
          <div class="games">
            <img src="/images/rockthumb.png">
            <span>Rock-Paper-Scissor</span>
          </div>
        </a>
      </div>
      <div id="section2">
        <div id="footer-container">
          <div class="footer-div"><span>Gaming-Nest.</span>
            Play your favorite classic games<br> all in one place<br>
            Tap, play, and see how far<br> you can go-the fun's all yours.
          </div>
          <div class="footer-div">
            <span> Contact Us</span>
            123@gmail.com<br>
            facebook<br>
            instagram<br>
            X
          </div>
          <div class="footer-div">
            <span> Legal</span>
            Privacy policy<br>
            Terms and Conditions
          </div>
          <div class="footer-div">
            <span> Subscribe</span>
            <p>Enter your email to get notified about our new games<br>
              <input type="email" placeholder="Email" id="input">
            </p>
          </div>
        </div>
      </div>
    </div>

    <script>
      const images = [
        '/images/card.png',
        '/images/card3.png',
        '/images/card11.png',
        '/images/card4.png',
        '/images/card12.png',
        '/images/card5.png',
        '/images/card1.png',
        '/images/card6.png',
        '/images/card7.png',
        '/images/card8.png',
        '/images/card10.png',
        '/images/card13.png',
      ]
      const main = document.getElementById('main')
      for (let i = 0; i < images.length; i++) {
        const card = document.createElement('div')
        card.className = 'cards'
        const img = document.createElement('img')
        img.src = images[i]
        img.alt = 'card image'
        card.appendChild(img)
        main.appendChild(card)
      }
    </script>
</body>

</html>