* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url(/images/bg2.jpg);
    background-size: cover;
}
.game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#opponent-choice {
    width: 180px;
    height: 180px;
    background-color: rgb(61, 63, 62);
    margin-top: 0px;
}

#your-choice {
    width: 180px;
    height: 180px;
    background-color: rgb(48, 48, 46);
    margin-top:0px;
}

#choices {
    width: 180px;
    height: 47px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:5px;
}

#choices img {
    width: 55px;
    height: 55px;
}
#opponent-score,#your-score{
    color: white;
}