body {
    background-color: rgb(148, 131, 100);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;

}

#game-board {
    width: 380px;
    height: 380px;
    margin: 0 auto;
    background-color: rgb(95, 59, 59);
    margin-top: 0px;
    color: white;
    border: 6px solid beige;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;


}

.game-cell {
    border: 4px solid beige;
    border-radius: 2px;
    background-color: rgb(80, 64, 44);
    height: 120px;
    width: 120px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winning-game-cell {
    background-color: rgb(179, 179, 179);
    color: black;
}

#restart-button {
    margin-top: 2px;
    height: 40px;
    width: 150px;
    border: 3px solid rgb(70, 51, 51);
    border-radius: 5px;
    background-color: rgb(51, 44, 34);
    color: wheat;
}