body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
h2{
    font-weight: bold;
    margin-left: 50px;
}
span{
    font-size: 20px;
    margin-left: 50px;
    font-weight: bold;
    text-align: center;
}
#board{
    width:400px;
    height:400px;
    background-color: rgb(165, 130, 85);
    border-radius: 25px;

    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}
#board div{
    width:130px;
    height: 130px;
   background: url(../images/hole.png);
   background-size: cover;
}
#board div img{
    width: 100px;
    height: 100px;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select:none;
}


